@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #DCDCDC;
  --text-color-light: #000;
  --hover-text-color-light: #0047AB;
  --bg-color-dark: #282828;
  --text-color-dark: #DCDCDC;
  --hover-text-color-dark: #87CEEB;
  --transition-duration: 0.3s;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
.light-theme,
.dark-theme {
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease
}

.light-theme {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.light-theme a:hover,
.light-theme button:hover {
  color: var(--hover-text-color-light);
}

.dark-theme a:hover,
.dark-theme button:hover {
  color: var(--hover-text-color-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}