@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #DCDCDC;
  --text-color-light: #000;
  --hover-text-color-light: #0047AB;
  --bg-color-dark: #282828;
  --text-color-dark: #DCDCDC;
  --hover-text-color-dark: #87CEEB;
  --transition-duration: 0.3s;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
.light-theme,
.dark-theme,
.searchbar-transition {
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease
}

.light-theme {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  border-color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  border-color: var(--text-color-dark);
}

.light-theme a:hover,
.light-theme button:hover {
  color: var(--hover-text-color-light);
}

.dark-theme a:hover,
.dark-theme button:hover {
  color: var(--hover-text-color-dark);
}

/* Light theme styles */
.input-light {
  @apply text-gray-400 transition-colors duration-300;
}

.input-light:hover,
.input-light:focus {
  @apply text-black transition-colors duration-300;
}

.input-light:hover::placeholder,
.input-light:focus::placeholder {
  @apply text-black transition-colors duration-300;
}

/* Dark theme styles */
.input-dark {
  @apply text-gray-500 transition-colors duration-300;
}

.input-dark:hover,
.input-dark:focus {
  @apply text-gray-500 transition-colors duration-300;
}

.input-dark:hover::placeholder,
.input-dark:focus::placeholder {
  @apply text-white transition-colors duration-300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}